
<body>
rout










<!--/////////////////////////////////////header////////////////////////////////////////////////-->

<header class="header">


  <div class="div_main d-flex justify-content-evenly align-items-normal">


    <div class="div_logo ">
      <img class="img_1" src="./assets/bLACK._.ROSE.gif" alt="">
    </div>


    <div class="div_ul ">
      <ul class="ul_div d-flex ">
        <li class="li_1"><a href="#">رز سیاه</a></li>
        <li class="li_1"><a href="#">دوره های هک و امنیت</a></li>
        <li class="li_1"><a href="#">ابزار های هک و امنیت</a></li>
        <li class="li_1"><a href="#">نقشه راه هک و امنیت</a></li>
        <li class="li_1"><a href="#"> مقالات </a></li>
        <li class="li_1"><a href="#"> آموزش هک رایگان </a></li>
      </ul>
    </div>


    <div class="main_search  d-flex align-items-center">
      <!--///////////////////////-->
      <div class="Button_dark">
        <input class=" d-none" type="checkbox" id="toggleSwitch">
        <label for="toggleSwitch" class="switch d-inline-block"></label>
      </div>
      <!-- ///////////////////////-->
      <div class="login_form ">
        <img class="img_2" src="/assets/group_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <a class="a_1" href="#">ورود / عضویت</a>

      </div>
      <!--////////////////////////-->
      <div class="search_box">


      </div>
      <!--////////////////////////-->
    </div>




  </div>


</header>

<!--/////////////////////////////////////header//////////////////////////////////////////////////////////////////////-->




<div class="main_section">


  <section class="section">
    <div class="div-section">
      <p class="p_2" style="background-image: url('./assets/wallpaperflare.com_wallpaper (60).jpg'); width: 1920px; height: 650px">
        Black_Rose
      </p>
    </div>
  </section>

  <section class="section2">
    <div class="div_section2_p">
      <p class="p_3">- دسته بندی دوره های آموزشـی -</p>
      <p class="p_3">دوره های فراوان در دسته بندی های مختلف</p>
    </div>

    <div class="div_section2_div">
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="/assets/vecteezy_code-vector-icon_24775404.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">برنامه نویسی مخصوص تست نفوذ</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">3 دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="/assets/vecteezy_linux_64779.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">لینوکس برای تست نفوذ (رایگان)</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1 دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="assets/skull_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">وب هکینگ</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1 دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="/assets/vecteezy_photo-camera-icon-on-white-background_14727636.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">تست نفوذ دوربین مداربسته</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1 دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="/assets/icons8-instagram.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">ریپورت اینستاگرام</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1 دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="assets/bomb_FILL1_wght300_GRAD200_opsz20.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">دیداس </p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1ابزار DDOS</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="assets/hub_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">شبکه برای تست نفوذ</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1دوره آموزشی</p>
        </div>
      </div>
      <div class="div_section2_div1 col-4 col-xl-4 col-lg-4 mb-3">
        <div class="div_section2_img">
          <img class="img_3" src="/assets/flag_FILL1_wght300_GRAD200_opsz20.svg" alt="">
        </div>
        <div class="div_section2_p_4">
          <p class="p_4">ورود به دنیای هکر ها (رایگان)</p>
        </div>
        <div class="div_section2_p_5">
          <p class="p_5">1دوره آموزشی </p>
        </div>
      </div>
    </div>

  </section>

  <section class="section3">
    <div class="main_section3_div">
      <div class="main_section3_2">
        <section class="section123">
          <div class="div_div22">
            <div class="div_div23">
              <img class="img_4" src="assets/trophy_FILL1_wght400_GRAD0_opsz24.svg" alt="">
            </div>
          </div>
          <!--              //////////////////////-->
          <div class="div_div_24">
            <div class="div_div_25">
              <p class="p_6">جـدیدترین دوره هـــای آمـــوزشـــــــی</p>
              <p class="p_6">THE LATEST TRAINING COURSES</p>
            </div>
          </div>
          <!--              /////////////////////-->
          <div class="div_div_26">
            <div class="div_div_27">
              <a class="a_2" href=""></a>
              <button class="button_1" type="submit">مشاهده بیشتر</button>
            </div>
          </div>
        </section>

      </div>
    </div>
    <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="main_section3_div3">
      <div class="main_section3_div4">
        <div class="main_section3_div5">
          <!--                     ///////////////////////////////////////////////////////////////loooll////////////////////////-->
          <div class="div_course1 col-xl-3 col-lg-4 col-md-6">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>دوره آموزش کیلاگر نویسی با پایتون 3 از مقدماتی تا پیشرفته (رایگان)</p>
            </div>

            <div class="div_course1_div_111">
              <div class="div_course1_div_11_div">
                <a class="a_2" href="">رایگان</a>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                     ///////////////////////////////////////////////////////////////loooll////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>دوره آموزش هک دوربین مداربسته</p>
            </div>

            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>

              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                      ///////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>

            </div>
            <div class="div_course1_p">
              <p>دوره آموزش هک دوربین مداربسته</p>
            </div>

            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                      /////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>

            </div>
            <div class="div_course1_p">
              <p>دوره آموزش هک سایت ☣️ دوره وب هکینگ کاملا حرفه ای</p>
            </div>
            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                     ///////////////////////////////////////////////////////////////loooll////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>دوره کالی لینوکس برای شبکه و امنیت (رایگان)</p>
            </div>

            <div class="div_course1_div_111">
              <div class="div_course1_div_11_div">
                <a class="a_2" href="">رایگان</a>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                     ///////////////////////////////////////////////////////////////loooll////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>دوره آموزش هک دوربین مداربسته</p>
            </div>

            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>
              </div>
            </div>
            <div class="div_course1_div_2">
              <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
            </div>
          </div>
          <!--                      /////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>اسکریپت ابزار دیداس DDOS قوی | تست امنیت</p>
            </div>

            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                      //////////////////////////-->
          <div class="div_course1 col-4 col-xl-4 col-lg-4 mb-3">
            <div class="div_course1_a_img">
              <a class="a_2" href="">
                <img class="img_5" src="assets/background.jpg" alt="">
              </a>
            </div>
            <div class="div_course1_p">
              <p>آموزش ویروس نویسی با پایتون</p>
            </div>

            <div class="div_course1_div_11">
              <div class="div_course1_div_1_div">
                <p>500,000</p>
              </div>
              <div class="div_course1_div_2">
                <img class="img_6" src="assets/play_arrow_FILL1_wght100_GRAD0_opsz24.svg" alt="">
              </div>
            </div>

          </div>
          <!--                      /////////////////////////-->
        </div>
      </div>
    </div>

  </section>

  <section class="section4">


  </section>


</div>






<div class="main_footer">
  <footer class="footer">
    <div class="div_footer">

    </div>
  </footer>
</div>







































































































<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--<div class="main_div d-flex align-items-baseline">-->





<!--    <div class="container_div">&lt;!&ndash; /////////////// به این استایل ندادیم///////////&ndash;&gt;-->

<!--      <div class="div_container1 d-flex">-->


<!--        <div class="container1 d-flex flex-column">-->
<!--            <img class="img_1" src="/assets/favorite_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            <img class="img_1" src="/assets/share_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            <img class="img_1" src="/assets/notifications_active_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            <img class="img_1" src="/assets/finance_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            <img class="img_1" src="/assets/compare_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--            <img class="img_1" src="/assets/toc_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--        </div>-->

<!--        <div class="container2 d-flex">-->
<!--          <img class="img_2" src="/assets/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.png.webp" alt="">-->
<!--        </div>-->

<!--        <div class="container3">-->


<!--        </div>-->


<!--    </div>-->

<!--&lt;!&ndash;/////////////////////////////////////////////////////////////&ndash;&gt;-->

<!--    <div class="div_container d-flex">-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="div_container_img">-->
<!--            <img class="img_3" src="assets/background.jpg" alt="">-->

<!--        </div>-->
<!--    </div>-->

<!--    </div>-->

<!--&lt;!&ndash;//////////////////////////////////////////////////////////////////////////&ndash;&gt;-->

<!--  <div class="a123 flex-column">-->


<!--    <div class="main_1 d-flex">-->
<!--        <div class="main_2">-->
<!--            <a class="a_1" href="#">اپل /</a>-->
<!--            <a class="a_1" href="#">گوشی موبایل اپل</a>-->
<!--            <h1 class="h_1">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو-->
<!--            </h1>-->
<!--        </div>-->

<!--    </div>-->


<!--  <div class="main_a">-->


<!--      <div class="aaa1 d-flex">-->
<!--        <p class="p_1">Apple iPhone 13 CH Dual SIM 128GB And 4GB RAM Mobile Phone - Not Activate-->
<!--        </p>-->
<!--        <hr class="hr_1">-->

<!--      </div>-->

<!--      <div class="aaa2 d-flex">-->
<!--          <img class="img_4" src="/assets/star_FILL1_wght400_GRAD0_opsz24.svg" alt="">-->
<!--          <p class="p_1_5">۴.۴</p>-->
<!--          <p class="p_2">  (امتیاز ۳۲۳۷ خریدار)</p>-->
<!--          <a class="a_2" href="">۵۸۹۹ دیدگاه</a>-->
<!--          <a class="a_2" href="">۱۷۸۴ پرسش</a>-->
<!--      </div>-->


<!--      <div class=aaa3>-->
<!--        <img class="img_5" src="/assets/thumb_up_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--        <p class="p_3">۹۲% (۹۹۹ نفر) از خریداران، این کالا را پیشنهاد کرده‌اند</p>-->
<!--        <img class="img_5" src="/assets/error_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--      </div>-->

<!--      <div class="aaa4">-->
<!--          <p class="p_4"> رنگ: مشکی </p>-->

<!--            <div class="bbb_6 d-flex">-->

<!--              <div class="bbb_5">-->
<!--                <img class="img_6" src="/assets/51124411-5214-b__2964%20(1).webp">-->

<!--              </div>-->

<!--              <div class="bbb_5">-->
<!--                <img class="img_6" src="/assets/51124411-5214-b__2964%20(1).webp">-->

<!--              </div>-->

<!--              <div class="bbb_5">-->
<!--                <img class="img_6" src="/assets/51124411-5214-b__2964%20(1).webp">-->

<!--              </div>-->

<!--            </div>-->

<!--      </div>-->

<!--&lt;!&ndash;/////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--        <div class="div_div1">-->
<!--          <p class="p_4"> بیمه</p>-->


<!--             <div class="div_div2 d-flex ">-->

<!--                <div class="div_111 ">-->
<!--                  <label class="abs12" for="checkbox"></label>-->
<!--                  <input type="checkbox" id="checkbox" name="name" value="Required"/>-->
<!--                </div>-->

<!--                  <div class="div_div_1 d-flex flex-column ">-->
<!--                    <p class="p_5">بیمه تجهیزات دیجیتال - بیمه پارسیان</p>-->

<!--                  <div class="div_div3 d-flex">-->
<!--                      <p class="p_6"> 50%</p>-->
<!--                      <p class="p_6">۱,۱۸۳,۷۴۰</p>-->
<!--                      <p class="p_6">۵۹۱,۸۷۰</p>-->
<!--                      <p class="p_6"> تومان</p>-->
<!--                        <div class="div_div_div d-flex">-->
<!--                          <a class="a_6">جزییات</a>-->
<!--                          <img class="img_13" src="assets/chevron_left_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--                        </div>-->

<!--                  </div>-->

<!--                  </div>-->

<!--             </div>-->


<!--        </div>-->

<!--&lt;!&ndash;///////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->



<!--    <div class="gray_div1">-->

<!--      <div class="div_1111 d-flex justify-content-between ">-->
<!--        <p class="p_7">فروشنده</p>-->
<!--        <a class="a_4" href="#">۶ فروشنده دیگر</a>-->
<!--      </div>-->

<!--      <div class="div_1112 d-flex">-->
<!--        <img class="p_8" src="/assets/add_home_work_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--        <p class="p_8">اسمارت تکنولوژی قشم</p>-->
<!--        <p class="p_9">منتخب</p>-->
<!--      </div>-->

<!--      <div class="div_1113 d-flex">-->
<!--        <p class="p_10">۹۲.۶%</p>-->
<!--        <p class="p_11">رضایت از کالا</p>-->
<!--        <hr class="hr_2 d-flex flex-column">-->
<!--        <p class="p_12">عملکرد</p>-->
<!--        <p class="p_13">عالی</p>-->
<!--      </div>-->

<!--      <hr class="hr_3">-->
<!--      <div class="div_1114 d-flex justify-content-center">-->
<!--        <img class="img_8" src="assets/verified_user_FILL0_wght400_GRAD0_opsz24.svg">-->
<!--        <p class="p_14">گارانتی ۱۸ ماهه اریان گستر طلوع تجارت بامداد</p>-->
<!--      </div>-->
<!--      <hr class="hr_3">-->


<!--      <div class="div_1115">-->
<!--        <div class="div_1116 d-flex">-->
<!--          <img class="img_9" src="assets/local_shipping_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--          <p class="p_15">ارسال دیجی‌کالا</p>-->

<!--        </div>-->

<!--        <div class="div_1116 d-flex">-->
<!--          <img class="img_9" src="assets/schedule_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--          <p class="p_16"> ارسال امروز (فعلا در شهر تهران و کرج)</p>-->

<!--        </div>-->
<!--      </div>-->

<!--      <hr class="hr_4">-->
<!--      <div class="div_1117 d-flex">-->
<!--        <img class="img_10" src="assets/paid_FILL1_wght700_GRAD200_opsz20.svg" alt="">-->
<!--        <p class="p_17">۱۵۰ امتیاز دیجی‌کلاب</p>-->
<!--        <img class="img_10" src="assets/error_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--      </div>-->
<!--      <hr class="hr_4">-->


<!--      <div class="div_1118 d-flex justify-content-center  align-items-center">-->
<!--        <img class="img_11" src="assets/error_FILL0_wght400_GRAD0_opsz24%20-%20Copy.svg" alt="">-->
<!--        <p class="p_18">با قیمت ۳۶,۴۵۰,۰۰۰ تومان از فروشندگان دیگر</p>-->
<!--        <img class="img_11" src="assets/chevron_left_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--      </div>-->

<!--      <div class="div_1119 d-flex justify-content-between">-->
<!--        <img class="img_12" src="assets/error_FILL0_wght400_GRAD0_opsz24.svg" alt="">-->
<!--        <p class="p_19"> ۳۶,۹۸۹,۰۰۰ تومان</p>-->
<!--      </div>-->

<!--      <div class="div_1120 d-flex justify-content-center align-items-center">-->
<!--        <a class="a_5">افزودن به سبد</a>-->
<!--      </div>-->


<!--    </div>-->








<!--  </div>-->



<!--  </div>-->










<!--</div>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->


<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--<div class="main_div">-->

<!--    <div class="logo">-->
<!--      <a href="#">-->
<!--        <img class="img_1" src="/assets/bLACK._.ROSE.gif" alt="">-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="menu_list">-->
<!--        <ul class="menu_main " >-->
<!--            <li><a href="#">رز سیاه</a></li>-->
<!--            <li><a href="#">دوره های هک و امنیت</a></li>-->
<!--            <li><a href="#">ابزار های هک و امنیت</a></li>-->
<!--            <li><a href="#">نقشه راه هک و امنیت </a></li>-->
<!--            <li><a href="#">مقالات </a></li>-->
<!--        </ul>-->
<!--    </div>-->


<!--    <div class="main_log">-->

<!--        <div class="search_box">-->


<!--        </div>-->

<!--        <div class="cart_store">-->

<!--        </div>-->

<!--        <div class="slider round">-->

<!--        </div>-->

<!--        <div class="button_login">-->
<!--            <div class="main_login">-->
<!--   <button class="button_1" type="submit">ورود / عضویت</button> -->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->


<!--</div>-->


<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--<div class="div0">-->

<!--    <div class="div_1">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_2">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_3">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_4">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_5">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_6">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_7">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_8">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->
<!--    <div class="div_9">-->
<!--          <img src="assets/wallpaperflare.com_wallpaper%20(2).jpg">-->
<!--          <p>dsfgdgdg</p>-->
<!--    </div>-->

<!--</div>-->


<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<!--<div class="div_div">-->

<!--    <div class="div_1">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_2">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_3">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_4">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_5">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_6">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_7">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_8">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_9">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_10">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_11">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_12">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--    <div class="div_13">-->
<!--        <img src="assets/Minimalist%20City%20Night%20Buildings%204K%20Wallpaper%2027.jpg" alt="">-->
<!--    </div>-->

<!--</div>-->


<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--<div class="div_11">-->

<!--  <div class="div_1">-->
<!--    <img src="./assets/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.png.webp" alt="">-->
<!--  </div>-->
<!--  <div class="div_2_3">-->
<!--  <div class="div_2">-->
<!--    <img class="img_2" src="./assets/local_shipping_FILL0_wght400_GRAD0_opsz24.png" alt="">-->
<!--    <p class="p_1">ارسال رایگان</p>-->
<!--  </div>-->
<!--  <div class="div_3">-->
<!--    <p class="p_2">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>-->
<!--  </div>-->
<!--  </div>-->
<!--  <div class="div_4">-->

<!--    <div class="div_4_5">-->
<!--      <img class="img_3" src="./assets/star_FILL0_wght400_GRAD0_opsz24.png" alt="">-->
<!--      <p class="p_3">4.5</p>-->
<!--    </div>-->

<!--    <div class="div_4_6">-->
<!--      <img class="img_4" src="./assets/flag_FILL0_wght400_GRAD0_opsz24.png" alt="">-->
<!--        <p class="p_4">ارسال فردا</p>-->
<!--    </div>-->

<!--        <div class="div_5">-->
<!--          <p class="p_5" >36,000,000</p>-->
<!--          <p class="p_6">تومان</p>-->
<!--        </div>-->

<!--  </div>-->
<!--  -->
<!--</div>-->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


<!--<div class="div_111">-->

<!--&lt;!&ndash;////////////////////////////////&ndash;&gt;-->
<!--  <div class="div_112">-->
<!--    <img class="img_1" src="./assets/more_horiz_FILL0_wght400_GRAD0_opsz24.png" alt="">-->
<!--      <p class="p_1">بیشتر</p>-->
<!--  </div>-->
<!--&lt;!&ndash;/////////////////////////////////////////////&ndash;&gt;-->


<!--  <div class="div_113">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_2">حراج سر ماه</p>-->
<!--  </div>-->


<!--&lt;!&ndash;/////////////////////////////////////////////////&ndash;&gt;-->
<!--  <div class="div_114">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_3">هر خرید یک شانس</p>-->
<!--  </div>-->

<!--  <div class="div_17">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_4"> پیش بینی بزرگ </p>-->
<!--  </div>-->

<!--  <div class="div_16">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_5">کالابرگ الکترونیکی</p>-->
<!--  </div>-->
<!--&lt;!&ndash;////////////////////////////////////////////////////////////&ndash;&gt;-->

<!--  <div class="div_117">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_6">حراج استایل</p>-->
<!--  </div>-->


<!--  <div class="div_118">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_7">دیجی پی</p>-->
<!--  </div>-->

<!--  <div class="div_119">-->
<!--    <img src="./assets/alex-knight&#45;&#45;4pZ_YqcSFc-unsplash.jpg" alt="">-->
<!--    <p class="p_8">دیجی کالا</p>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="div_1">-->
<!--    <div class="div_2">-->
<!--      <div class="div_3">-->
<!--            <p>-->
<!--                Center me.-->
<!--            </p>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="div_1">-->

<!--     <div class="div_2">-->
<!--       <p>I am small</p>-->
<!--     </div>-->
<!--      <div class="div_3">-->
<!--        <p>I am small</p>-->
<!--      </div>-->
<!--  <div class="div_4">-->
<!--    <p>-->
<!--    I have lots of content. em. So much content that I don't know where it is all going to go. I'm glad that CSS is pretty good at dealing with situations where we end up with more words than expected-->

<!--  </div>-->
<!--</div>-->

<!--      <div class="div_5">-->
<!--        <button class="bb1" type="submit">Contact Us</button>-->
<!--      </div>-->


<!--<header class="header11">-->
<!--    <section class="section1">-->
<!--            <div class="header_div1">-->

<!--                <div class="header_div2">-->

<!--                    <div class="header_div3">-->

<!--                        <div class="header_div4_logo">-->
<!--                            <img class="img_1" src="./assets/bLACK._.ROSE.gif" alt="Black Rose Logo">-->

<!--                            <div class="header_div5">-->
<!--                                <ul class="header_div_ul">-->
<!--                                    <li><a href="#">رز سیاه</a></li>-->
<!--                                    <li><a href="#">دوره های هک و امنیت</a></li>-->
<!--                                    <li><a href="#">ابزار های هک و امنیت</a></li>-->
<!--                                    <li><a href="#">نقشه راه هک و امنیت </a></li>-->
<!--                                    <li><a href="#">مقالات </a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</header>-->


<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--    <section>-->
<!--       <form class="input1">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <h1>Registration From</h1><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text1"> Student name</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text1" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;          /////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text2"> Father's Name</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text2" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;            ////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text3">Mother's Name</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text3" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;            ////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text4">Date of Brith</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="date" id="text4" name="name">-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;            //////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text5">Gender </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="radio" id="text5" name="name">-->
<!--              </td>-->
<!--              <td>-->
<!--                <label for="text66"> male </label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="radio" id="text66" name="name">-->
<!--              </td>-->
<!--              <td>-->
<!--                <label for="text66"> female </label>-->
<!--              </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;///////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text6">Email ID</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text6" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--           &lt;!&ndash;///////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text7">Mobile No.</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text7" name="name"><br><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="text8">Address</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" id="text8" name="name"><br>&ndash;&gt;-->
<!--&lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text9">Address</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <textarea name="message" id="text9" rows="10" cols="30"></textarea><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;/////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--             <td>-->
<!--               <label for="text10">State</label>-->
<!--             </td>-->
<!--              <td>-->
<!--                <input type="text" id="text10" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;/////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <label for="text11">City</label>-->
<!--              </td>-->
<!--              <td>-->
<!--                <input type="text" id="text11" name="name"><br>-->
<!--              </td>-->
<!--            </tr>-->
<!--            &lt;!&ndash;///////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--            <tr>-->
<!--              <td>-->
<!--                <button class="bb1" type="submit">submit</button>-->
<!--              </td>-->
<!--            </tr>-->
<!--&lt;!&ndash;        <input type="submit" id="radio11"><br>&ndash;&gt;-->
<!--          </table>-->
<!--       </form>-->
<!--    </section>-->

<!--          //////////////////////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->

<!--    <section>-->
<!--      <form class="input1">-->
<!--        <table>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <h1>Registration From</h1><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text1"> Student name</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text1" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;          /////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text2"> Father's Name</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text2" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;            ////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text3">Mother's Name</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text3" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;            ////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text4">Date of Brith</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="date" id="text4" name="name">-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;            //////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text5">Gender </label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="radio" id="text5" name="name">-->
<!--            </td>-->
<!--            <td>-->
<!--              <label for="text66"> male </label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="radio" id="text66" name="name">-->
<!--            </td>-->
<!--            <td>-->
<!--              <label for="text66"> female </label>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;///////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text6">Email ID</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text6" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;///////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text7">Mobile No.</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text7" name="name"><br><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          &lt;!&ndash;        <label for="text8">Address</label>&ndash;&gt;-->
<!--          &lt;!&ndash;        <input type="text" id="text8" name="name"><br>&ndash;&gt;-->
<!--          &lt;!&ndash;            ///////////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text9">Address</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <textarea name="message" id="text9" rows="10" cols="30"></textarea><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;/////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text10">State</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text10" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;/////////////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text11">City</label>-->
<!--            </td>-->
<!--            <td>-->
<!--              <input type="text" id="text11" name="name"><br>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;///////////////////////////////////////////////////////////////////////////////////&ndash;&gt;-->
<!--          <tr>-->
<!--            <td>-->
<!--              <button class="bb1" type="submit">submit</button>-->
<!--            </td>-->
<!--          </tr>-->
<!--          &lt;!&ndash;        <input type="submit" id="radio11"><br>&ndash;&gt;-->
<!--        </table>-->
<!--      </form>-->
<!--    </section>-->


<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--    <section>-->
<!--      <form class="input1">-->
<!--        <table>-->
<!--          <h1>Registration From</h1><br>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <label for="text1"> Student name</label>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <label for="text1"> Student name</label>-->
<!--          <input type="text" id="text1" name="name"><br>-->

<!--          <label for="text2"> Father's Name</label>-->
<!--          <input type="text" id="text2" name="name"><br>-->

<!--          <label for="text3">Mother's Name</label>-->
<!--          <input type="text" id="text3" name="name"><br>-->

<!--          <label for="text4">Date of Brith</label>-->
<!--          <input type="date" id="text4" name="name"><br>-->

<!--          <label for="text5">Gender </label>-->
<!--          <input type="radio" id="text5" name="name">-->
<!--          <label for="text66"> male </label>-->
<!--          <input type="radio" id="text66" name="name">-->
<!--          <label for="text66"> female </label>-->
<!--          <br>-->

<!--          <label for="text6">Email ID</label>-->
<!--          <input type="text" id="text6" name="name"><br>-->

<!--          <label for="text7">Mobile No.</label>-->
<!--          <input type="text" id="text7" name="name"><br><br>-->
<!--          <br>-->
<!--          &lt;!&ndash;        <label for="text8">Address</label>&ndash;&gt;-->
<!--          &lt;!&ndash;        <input type="text" id="text8" name="name"><br>&ndash;&gt;-->
<!--          <label for="text9">Address</label>-->
<!--          <textarea name="message" id="text9" rows="10" cols="30"></textarea><br>-->


<!--          <label for="text10">State</label>-->
<!--          <input type="text" id="text10" name="name"><br>-->

<!--          <label for="text11">City</label>-->
<!--          <input type="text" id="text11" name="name"><br>-->

<!--          &lt;!&ndash;        <input type="submit" id="radio11"><br>&ndash;&gt;-->
<!--          <button class="bb1" type="submit">submit</button>-->

<!--        </table>-->
<!--      </form>-->
<!--    </section>-->


<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--<section>-->
<!--  <form class="aa1">-->

<!--    <h1>Registration From</h1><br>-->
<!--      <label for="username">User id: </label>-->
<!--      <input type="username" id="username" name="name" value="Required and must be of length 5 to 12."/><br>-->

<!--    <label for="password1">Password: </label>-->
<!--    <input type="password" id="password1" name="name" value="Required and must be of length 5 to 12."/><br>-->

<!--    <label for="password">name:  </label>-->
<!--    <input type="text" id="password" name="name" value="Required and must be of length 5 to 12."/><br>-->

<!--        <label for="email">Address: </label>-->
<!--        <input type="email" id="email" name="name" value="Optional"/><br>-->

<!--      <label for="cars">country: </label>-->
<!--      <select id="cars" name="cars"><option value="volvo">Please select a country</option>-->
<!--        <option value="saab">Saab</option>-->
<!--        <option value="fiat">Fiat</option>-->
<!--        <option value="audi">Audi</option>-->
<!--     </select><br><br>-->

<!--    <label for="email1">ZIP Code: </label>-->
<!--    <input type="text" id="email1" name="name" value="Required and must be of length 5 to 12."/><br>-->


<!--    <label for="email11">Email: </label>-->
<!--    <input type="email" id="email11" name="name" value="Required and must be of length 5 to 12."/><br>-->


<!--    <label for="radio111">Sex: Male  </label>-->
<!--    <input type="radio" id="radio111" name="name" value="Required"/>-->
<!--    <label for="radio2">Sex: Female  </label>-->
<!--    <input type="radio" id="radio2" name="name" value="Required"/><br>-->


<!--    <label for="radio12">Language:  English</label>-->
<!--    <input type="checkbox" id="radio1" name="vehicle3" value="Boat">-->
<!--    <label for="radio1">  Non Language</label>-->
<!--    <input type="checkbox" id="radio12" name="name" value="Required"/><br>-->


<!--    <label for="radio11">About:</label>-->
<!--    <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>-->
<!--    <br><br>-->
<!--    <input class="" type="submit" id="radio11"><br>-->

<!--  </form>-->
<!--</section>-->

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--<section>-->
<!--<form>-->
<!--  <label for="username">Full name*:</label><br>-->
<!--  <input type="text" id="username" name="name" value="FirtName LastName*:"/><br>-->

<!--  <label for="email">Email address*:</label><br>-->
<!--  <input type="email" id="email" name="name" value="EMAIL_ADDRESS*:"/><br><br>-->

<!--  <label for="cars">Select Tour Package*:</label><br>-->
<!--  <select id="cars" name="cars">-->
<!--    <option value="volvo">Goa</option>-->
<!--    <option value="saab">Saab</option>-->
<!--    <option value="fiat">Fiat</option>-->
<!--    <option value="audi">Audi</option>-->
<!-- </select><br><br>-->

<!--  <label for="date">Arrival date*:</label><br>-->
<!--  <input type="date" id="date" name="name" value="m/d/y"/><br><br>-->

<!--  <label for="number">Number of persons*:</label><br>-->
<!--  <input type="text" id="number" name="name" value="UNKNOWN_TYPE"/><br><br>-->

<!--  <label for="vehicle1">What would you want to avail?*</label><br>-->
<!--  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">-->
<!--  <label for="vehicle1"> Boarding</label><br>-->
<!--  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">-->
<!--  <label for="vehicle2"> fooding</label><br>-->
<!--  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">-->
<!--  <label for="vehicle3"> sight seeing</label><br><br>-->

<!--  <label for="text">Discout Coupon dode:</label><br>-->
<!--  <input type="text" id="text" name="name" value="UNKNOWN_TYPE"/><br><br>-->

<!--  <label for="radio1">Terms and conditions*</label><br>-->
<!--  <label for="radio1">a agree</label>-->
<!--  <input type="radio" id="radio1" name="name" value=""/>-->
<!--  <label for="radio2">I disagree</label>-->
<!--  <input type="radio" id="radio2" name="name" value=""/><br>-->
<!--  <input type="submit" value="complete resevation">-->
<!--</form>-->
<!--</section>-->

</body>
